# ZOOM
TRANSCRIPTION_URL="ws://ip:8000/ws/view_transcription"
TRANSLATION_URL="ws://ip:8000/ws/view_translation"
TRANSCRIPTION_SERVER_URL="ws://ip:8000/ws/transcribe"
ZM_RTMS_CLIENT=
ZM_RTMS_SECRET=

# REALTIME-TRANSLATION
APPID=
APISECRET=
APIKEY=
DASHSCOPE_API_KEY=
