# Postgres Database
POSTGRES_DB_NAME=zoom_translation
POSTGRES_DB_USER=zoom_translation
POSTGRES_DB_PASSWORD=
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_SCHEMA=zoom_translation

# Soniox API
SONIOX_API_KEY=

# QWEN-MT-Turbo Retranslation
ALIBABA_API_KEY=

#Ollama
OLLAMA_URL="http://localhost:11434"

# Determines wether or not audio files and log files are saved per session
DEBUG_MODE=False # True/False as options
